@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.eot');
	src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Semibold.eot');
	src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'NEON LIGHTS';
	src: url('../fonts/NEONLIGHTS.eot');
	src: url('../fonts/NEONLIGHTS.eot?#iefix') format('embedded-opentype'), url('../fonts/NEONLIGHTS.woff') format('woff'), url('../fonts/NEONLIGHTS.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Pigeon Wing DEMO';
	src: url('../fonts/PigeonWingDEMO.eot');
	src: url('../fonts/PigeonWingDEMO.eot?#iefix') format('embedded-opentype'), url('../fonts/PigeonWingDEMO.woff') format('woff'), url('../fonts/PigeonWingDEMO.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Medium.eot');
	src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Metropolis-Medium.woff') format('woff'), url('../fonts/Metropolis-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis Extra';
	src: url('../fonts/Metropolis-ExtraLight.eot');
	src: url('../fonts/Metropolis-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Metropolis-ExtraLight.woff') format('woff'), url('../fonts/Metropolis-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Regular.eot');
	src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Metropolis-Regular.woff') format('woff'), url('../fonts/Metropolis-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Thin.eot');
	src: url('../fonts/Metropolis-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Metropolis-Thin.woff') format('woff'), url('../fonts/Metropolis-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Light.eot');
	src: url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Metropolis-Light.woff') format('woff'), url('../fonts/Metropolis-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis Extra';
	src: url('../fonts/Metropolis-ExtraBold.eot');
	src: url('../fonts/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Metropolis-ExtraBold.woff') format('woff'), url('../fonts/Metropolis-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@import 'reset';
$yellow: #ece473;
$orange: #fbaf5d;
$tirq: #1795a0;
$blue: #1b2d3f;
body {
	min-width: 320px;
	font-family: 'Metropolis';
	font-weight: normal;
	font-size: 16px;
	max-width: 1600px;
	margin: 0 auto;
}

header {
	height: 625px;
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-image: url(../images/top-bg.png);
		width: 100%;
		background-repeat: no-repeat;
		background-position: left center;
		z-index: -1;
	}
	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: url(../images/top-half-bg.png);
		width: 100%;
		background-repeat: no-repeat;
		background-position: right top;
		z-index: -1;
	}
	.logo-wr {
		text-align: center;
		padding-top: 5px;
	}
	.logo {
		display: inline-block;
		text-align: center;
		img {
			display: inline-block;
		}
	}
	.text-logo {
		color: $blue;
		text-align: center;
		line-height: 1;
		span {
			font-size: 40px;
			font-family: 'NEON LIGHTS';
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	.top-nav {
		display: block;
		width: 100%;
		font-size: 0;
		li {
			width: 25%;
			display: inline-block;
			text-align: center;
			line-height: 96px;
		}
		a {
			font-size: 24px;
			text-transform: uppercase;
			@include transition();
			&:hover,
			&.active,
			&:focus {
				color: $yellow;
			}
		}
	}
	.title-wr {
		font-size: 0;
	}
	.header-subtitle {
		text-align: left;
		font-size: 32px;
		color: #FFF;
		display: inline-block;
		max-width: 430px;
		vertical-align: top;
		padding-top: 15px;
		font-weight: 300;
	}
	.header-title {
		text-align: right;
		font-size: 36px;
		font-weight: 200;
		font-family: 'Metropolis Extra';
		display: inline-block;
		text-transform: uppercase;
		max-width: 710px;
		color: #FFF;
		vertical-align: top;
	}
	.select-wr {
		width: 480px;
		margin-left: 505px;
		.select {
			width: 355px;
			height: 50px;
			border: none;
			border-radius: 20px;
			padding-left: 100px;
			color: #BCBCBC;
			font-size: 18px;
			@include apperance('../images/down.png',
			#fff,
			95%);
			outline: none;
			&:focus,
			&:active {
				outline: none;
			}
		}
		.form-group {
			margin-bottom: 55px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				background-image: url(../images/car-round.png);
				background-repeat: no-repeat;
				width: 86px;
				height: 86px;
				left: -60px;
				top: -15px;
			}
			&:nth-child(2) {
				margin-left: 40px;
				&:before {
					background-image: url(../images/multi-car-r.png);
				}
			}
			&:nth-child(3) {
				margin: 0 0 40px 80px;
				&:before {
					background-image: url(../images/loc-round.png);
				}
			}
		}
		.find-wr {
			text-align: right;
		}
		.find {
			height: 50px;
			width: 325px;
			border-radius: 20px;
			background: $orange;
			border: 3px solid transparent;
			color: $blue;
			font-size: 34px;
			font-family: 'Metropolis Extra';
			font-weight: 800;
			line-height: 35px;
			@include transition();
			outline: none;
			&:focus,
			&:active {
				outline: none;
			}
			&:hover {
				background: $blue;
				color: $orange;
				border-color: $orange;
			}
		}
	}
	.container {
		position: relative;
	}
	.register-wr {
		position: absolute;
		left: 100px;
		bottom: -25px;
		width: 390px;
		text-transform: uppercase;
		color: $blue;
		font-size: 24px;
		text-align: center;
		.register {
			color: $tirq;
			text-decoration: underline;
			@include transition();
			&:hover {
				color: $blue;
			}
		}
		span {
			margin: 0 40px;
		}
	}
}

main {
	.close-wr {
		padding: 40px 0;
		text-align: right;
		a {
			color: $blue;
			text-transform: uppercase;
			font-size: 22px;
			position: relative;
			@include transition();
			&:before {
				content: "";
				width: 33px;
				height: 33px;
				position: absolute;
				left: -70px;
				top: -7px;
				border: 4px solid $blue;
				border-radius: 50%;
				background: #FFF;
				box-shadow: inset 0px 0px 0px 3px #fff;
				@include transition();
			}
			&:hover,
			&.active {
				color: $tirq;
				&:before {
					border-color: $tirq;
					background: $tirq;
					box-shadow: inset 0px 0px 0px 3px #fff;
				}
			}
		}
	}
	.car-item {
		position: relative;
		padding-bottom: 30px;
		.name {
			display: block;
			background: $tirq;
			color: #FFF;
			font-size: 22px;
			text-align: center;
			padding: 10px 0;
			line-height: 22px;
			@include continue();
		}
		figure {
			position: relative;
			cursor: pointer;
			height: 290px;
			margin: 10px 0;
			background: #CCC;
			img {
				@include overlay();
			}
		}
		.time {
			display: block;
			background: rgba(27, 45, 63, .7);
			padding: 10px 0;
			font-family: "Open Sans";
			font-size: 18px;
			color: #FFF;
			padding-left: 30px;
			position: absolute;
			bottom: 95px;
			left: 15px;
			right: 15px;
			span {
				margin-right: 25px;
				display: inline-block;
			}
		}
		.bid-wr {
			font-size: 0;
		}
		.price {
			width: 50%;
			display: inline-block;
			background: $tirq;
			color: #FFF;
			font-size: 22px;
			text-align: center;
			height: 55px;
			line-height: 55px;
			font-family: "Open Sans";
			font-weight: 600;
		}
		.bid {
			width: 50%;
			display: inline-block;
			height: 55px;
			line-height: 37px;
			font-size: 28px;
			color: #FFF;
			text-transform: uppercase;
			background: $orange;
			border: 3px solid transparent;
			border-radius: 0;
			vertical-align: top;
			font-family: "Open Sans";
			font-weight: 600;
			@include transition();
			&:hover {
				color: $orange;
				background: #fff;
				border-color: $orange;
			}
		}
	}
	.more-wr {
		text-align: right;
	}
	.more-btn {
		width: 265px;
		height: 45px;
		background: $orange;
		color: $blue;
		display: inline-block;
		text-align: center;
		font-size: 20px;
		line-height: 44px;
		z-index: 2;
		position: relative;
		border: 3px solid transparent;
		@include transition();
		span {
			margin-right: 10px;
			display: inline-block;
			transform: rotatey(180deg);
			font-size: 1.3em;
			vertical-align: text-bottom;
		}
		&:hover {
			background: $blue;
			color: $orange;
			border: 3px solid $orange;
		}
	}
	.browse-wr {
		position: relative;
		top: -45px;
		overflow: hidden;
		&:before {
			content: '';
			background: $tirq;
			width: 900px;
			height: 320px;
			position: absolute;
			left: -100px;
			bottom: 0;
			z-index: -1;
			transform-origin: 100% 0;
			transform: skewX(17deg);
		}
		&:after {
			content: "";
			position: absolute;
			background-image: url(../images/browse-bg.jpg);
			background-repeat: no-repeat;
			background-position: center right;
			width: 100%;
			right: 0;
			top: 45px;
			bottom: 0;
			z-index: -2;
		}
	}
	.browse-title {
		font-size: 30px;
		color: $blue;
		font-weight: 600;
		margin-bottom: 25px;
	}
	.browse-subtitle {
		font-size: 18px;
		font-weight: 600;
		color: #FFF;
		line-height: 1;
		margin-bottom: 30px;
	}
	.browse {
		font-size: 0;
		li {
			margin-bottom: 20px;
			line-height: 1;
			width: 33%;
			display: inline-block;
		}
		a {
			font-family: "Open Sans";
			font-weight: 600;
			font-size: 16px;
			@include transition();
			&.active,
			&:hover {
				color: $yellow;
			}
		}
		.number {
			color: #FFF;
		}
	}
	.supp-wr {
		margin-top: -25px;
		position: relative;
		height: 492px;
		&:before {
			content: '';
			background-image: url(../images/area-bg.png);
			background-repeat: no-repeat;
			width: 900px;
			position: absolute;
			left: 0;
			top: 60px;
			bottom: 0;
			z-index: -1;
		}
		&:after {
			content: "";
			position: absolute;
			background-image: url(../images/supp-bg.png);
			background-repeat: no-repeat;
			width: 900px;
			right: 0;
			top: 60px;
			bottom: 0;
			z-index: -1;
		}
	}
	.supp-title {
		font-size: 30px;
		font-weight: 600;
		color: $blue;
		text-align: center;
		margin-bottom: 30px;
	}
	.supp-subtitle {
		font-size: 24px;
		color: $yellow;
		text-align: center;
		text-transform: uppercase;
		padding: 25px 0 90px;
	}
	.supp-text {
		max-width: 260px;
		margin: 0 0 0 115px;
	}
	.supp {
		&:last-child {
			.supp-text {
				margin: 0 auto;
			}
		}
	}
	.reviews-title {
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		margin: 55px 0 35px;
	}
	.reviews {
		font-size: 0;
		.author {
			display: inline-block;
			width: 44.5%;
			color: #919191;
			font-size: 24px;
			height: 65px;
			vertical-align: top;
			line-height: 65px;
			text-align: center;
		}
		.date {
			display: inline-block;
			width: 55.5%;
			font-size: 14px;
			height: 65px;
			line-height: 65px;
			padding-right: 20px;
			font-family: "Open Sans";
			color: #fff;
			text-align: right;
			overflow: hidden;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				transform-origin: left bottom;
				transform: skew(-56deg);
				width: 100%;
				height: 100%;
				background: $tirq;
				z-index: -1;
				left: 0;
			}
		}
		.text {
			background: $yellow;
			color: $blue;
			font-size: 14px;
			font-family: "Open Sans";
			padding: 20px 30px;
			margin: 0;
			font-weight: 600;
		}
	}
	.cl-banner {
		margin-top: 70px;
		display: block;
	}
	.meta-content {
		text-align: center;
		font-size: 12px;
		color: $blue;
		padding: 40px 0;
	}
}

footer {
	position: relative;
	padding: 25px 0 0;
	&:before {
		content: "";
		background-image: url(../images/footer.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.footer-nav {
		padding-top: 65px;
		li {
			line-height: 1;
			margin-bottom: 25px;
		}
		a {
			font-size: 28px;
			font-weight: 100;
			@include transition();
			&:hover {
				color: $yellow;
			}
		}
	}
	.footer-title {
		font-size: 28px;
		font-weight: 100;
		text-align: center;
		color: #fff;
		line-height: 1;
	}
	.about-text {
		font-size: 18px;
		font-family: "Open Sans";
		color: #fff;
		padding-top: 35px;
		margin: 0;
	}
	.repokar-wr {
		padding: 20px 0 25px;
		font-size: 0;
		display: block;
	}
	.repokar {
		display: inline-block;
		vertical-align: middle;
	}
	.repokar-text {
		display: inline-block;
		text-align: center;
		font-size: 16px;
		color: #FFF;
		line-height: 1;
		font-weight: bold;
		margin-left: 35px;
		vertical-align: middle;
		span {
			font-size: 42px;
			text-transform: uppercase
		}
	}
	.subscribe-wr {
		padding: 25px 0 0;
		input {
			border-radius: 0;
			height: 40px;
			text-align: center;
			font-size: 21px;
			color: #434343;
			font-family: "Open Sans";
		}
		.subscribe {
			width: 100%;
			height: 40px;
			background: $yellow;
			color: $blue;
			text-transform: uppercase;
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			line-height: 27px;
			border-radius: 0;
			border: 3px solid transparent;
			@include transition();
			&:hover {
				border-color: $yellow;
				color: $yellow;
				background: $blue;
			}
		}
	}
	.return-wr {
		padding: 20px 0;
	}
	.scroll {
		display: block;
		color: $yellow;
		text-align: center;
		font-size: 28px;
		height: 90px;
		line-height: 130px;
		background: url(../images/scroll-bg1.png) no-repeat center;
		margin-top: 20px;
		transition: all .5s ease-out;
		&:hover {
			transform: translatey(-25px);
		}
	}
	.contacts-wr {
		padding-top: 30px;
		font-size: 0;
		li {
			width: 33.3%;
			height: 50px;
			display: inline-block;
			font-size: 18px;
			font-family: "Open Sans";
			color: #FFF;
			vertical-align: middle;
			position: relative;
			a {
				line-height: 50px;
			}
			&:last-child {
				text-align: center;
			}
			&:nth-child(2) {
				&:after,
				&:before {
					content: "";
					position: absolute;
					top: 5px;
					height: 40px;
					right: -5px;
					background: #fff;
					width: 3px;
					transform: skew(-16deg);
				}
				&:before {
					left: -10px;
				}
			}
		}
	}
	.social {
		font-size: 0;
		padding-top: 30px;
		a {
			height: 100%;
			width: 100%;
			display: inline-block;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-repeat: no-repeat;
				background-position: center;
				@include transition();
			}
		}
		li {
			height: 50px;
			width: 50px;
			display: inline-block;
			text-align: center;
			margin-right: 12px;
			&:first-child {
				a {
					&:before {
						background-image: url(../images/pint.png);
					}
					&:hover {
						&:before {
							background-image: url(../images/pint-h.png);
						}
					}
				}
			}
			&:nth-child(2) {
				a {
					&:before {
						background-image: url(../images/tumbl.png);
					}
					&:hover {
						&:before {
							background-image: url(../images/tumbl-h.png);
						}
					}
				}
			}
			&:nth-child(3) {
				a {
					&:before {
						background-image: url(../images/link.png);
					}
					&:hover {
						&:before {
							background-image: url(../images/link-h.png);
						}
					}
				}
			}
			&:nth-child(4) {
				a {
					&:before {
						background-image: url(../images/tweet.png);
					}
					&:hover {
						&:before {
							background-image: url(../images/tweet-h.png);
						}
					}
				}
			}
			&:nth-child(5) {
				a {
					&:before {
						background-image: url(../images/face.png);
					}
					&:hover {
						&:before {
							background-image: url(../images/face-h.png);
						}
					}
				}
			}
			&:last-child {
				margin: 0;
				a {
					&:before {
						background-image: url(../images/google.png);
					}
					&:hover {
						&:before {
							background-image: url(../images/google-h.png);
						}
					}
				}
			}
		}
	}
	.copy {
		font-size: 13px;
		text-align: center;
		color: #FFF;
		padding: 15px 0;
		background: $blue;
	}
}

.auction-header {
	&:before {
		background-image: url(../images/top-bg-auc.png);
	}
	&:after {
		background-image: url(../images/top-half-bg-auc.png);
	}
}

.auction-main {
	.pagination-wr {
		text-align: center;
		.pagination {
			a {
				background: $orange;
				color: #fff;
				text-transform: uppercase;
				border-radius: 0;
				font-size: 24px;
				border: none;
				@include transition();
				&:hover,
				&.active,
				&:focus {
					background: $tirq;
				}
			}
		}
	}
	.cl-banner {
		margin-top: 45px;
	}
}

.contact-header {
	&:before {
		background-image: url(../images/top-bg-contact.png);
	}
	&:after {
		background-image: url(../images/top-half-bg-contact.png);
	}
	.title-wr {
		text-align: right;
	}
	.select-wr {
		margin-top: 50px;
		.select {
			border-radius: 20px;
			text-align: center;
			padding-left: 0;
			font-size: 14px;
			background: #FFF;
			outline: none;
			color: $blue;
			line-height: 50px;
			cursor: default;
			a {
				color: $blue;
			}
		}
		.form-group {
			&:before {
				background-image: url(../images/loc-round.png);
			}
			&:nth-child(2) {
				&:before {
					background-image: url(../images/email-round.png);
				}
			}
			&:nth-child(3) {
				&:before {
					background-image: url(../images/phone-round.png);
				}
			}
		}
	}
	.register-wr {
		bottom: -80px;
	}
}

.contact-main {
	.message-wr {
		position: relative;
		overflow: hidden;
		height: auto;
		padding: 30px 0 15px;
		margin-top: 55px;
		&:before {
			content: "";
			background: #1795a0;
			width: 1150px;
			height: 100%;
			top: 0;
			position: absolute;
			left: -130px;
			bottom: 0;
			z-index: -1;
			transform: skewX(-35deg);
		}
		&:after {
			content: "";
			position: absolute;
			background-image: url(../images/message-bg.jpg);
			background-repeat: no-repeat;
			background-position: right top;
			z-index: -2;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
	.message {
		textarea {
			height: 310px;
			resize: none;
			border: 0;
			border-radius: 0;
			font-size: 18px;
			color: $blue;
			@include placeholder($blue);
		}
		input {
			height: 47px;
			border: 0;
			border-radius: 0;
			font-size: 18px;
			color: $blue;
			@include placeholder($blue);
		}
		.form-group {
			margin-bottom: 40px;
		}
	}
	.send-wr {
		margin-top: 250px;
		text-align: center;
		.send {
			height: 70px;
			color: #FFF;
			background: $tirq;
			border-radius: 20px;
			width: 325px;
			font-size: 30px;
			font-weight: bold;
			border: 3px solid $tirq;
			@include transition();
			&:hover {
				color: $tirq;
				border-color: $tirq;
				background: #FFF;
			}
		}
	}
	.tweets-title {
		text-align: center;
		color: $blue;
		font-size: 30px;
		margin: 0 0 40px;
	}
	.captcha-wr {
		font-size: 0;
		.captha {
			display: inline-block;
			width: 63%;
		}
		.refresh {
			display: inline-block;
			width: 18%;
			margin: 0 0 0 19%;
			vertical-align: top;
			text-align: center;
			@include transition();
			&:hover {
				transform: rotate(360deg);
			}
			img {
				display: inline-block;
			}
		}
	}
	.chat-wr {
		height: 175px;
		position: relative;
		padding-top: 50px;
		text-align: center;
		font-size: 28px;
		margin: 60px 0 90px;
		&:before {
			content: "";
			position: absolute;
			top: 25%;
			left: 0;
			right: 0;
			height: 90px;
			width: 100%;
			border-radius: 35px;
			background: #DDE4EF;
		}
		a {
			text-decoration: underline;
			color: $tirq;
			font-weight: bold;
			@include transition();
			&:hover {
				color: $blue;
			}
		}
		.chat {
			padding: 0 10px;
		}
		.chat-btn {
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			height: 175px;
			display: block;
			margin-top: -50px;
			border-radius: 50%;
			background: $tirq;
			width: 100%;
			font-weight: 100;
			padding-top: 50px;
			line-height: 1.1;
			font-size: 36px;
			box-shadow: 2px 2px 20px 0px #333;
			border: 2px solid transparent;
			@include transition();
			&:hover {
				transform: scale(1.1);
				color: #1795a0;
				background: #fff;
				border: 2px solid #1795a0;
			}
		}
	}
}

@media (max-width: 1600px) {
	header {
		.select-wr {
			margin-left: 43%;
		}
	}
	main {
		.supp-subtitle {
			padding: 25px 0 15px;
		}
		.supp-text {
			margin: 0 auto;
			height: 333px;
			width: 333px;
			padding: 80px 20px 0 40px;
			padding-top: 80px;
			background: rgba(247, 247, 247, 0.9);
			border-radius: 50%;
			max-width: 100%;
		}
		.supp-wr {
			overflow: hidden;
			&:before {
				background-image: url(../images/area-bg2.png);
				top: 63px;
			}
			&:after {
				background-image: url(../images/supp-bg2.png);
				right: -4px;
				top: 63px;
			}
		}
		.supp {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				background: rgba(62, 76, 88, .7);
				left: -25%;
				right: -25%;
				bottom: 0;
				top: 0;
				width: 150%;
				height: 430px;
			}
		}
	}
}

@media (max-width: 1550px) {
	.contact-main {
		.message-wr {
			&:before {
				left: -10%;
			}
		}
	}
}

@media (max-width: 1520px) {
	.contact-main {
		.message-wr {
			&:before {
				left: -11%;
			}
		}
	}
}

@media (max-width: 1480px) {
	.contact-main {
		.message-wr {
			&:before {
				left: -13%;
			}
		}
	}
}

@media (max-width: 1440px) {
	header {
		&:before {
			left: -11%;
		}
		&:after {
			right: -6%;
		}
		.select-wr {
			margin-left: 43.5%;
		}
	}
	main {
		.browse-wr {
			&:after {
				right: -15%;
			}
			&:before {
				left: -15%;
			}
		}
		.supp-wr {
			&:after {
				right: -8%;
			}
		}
	}
	.contact-main {
		.message-wr {
			&:before {
				left: -15%;
			}
		}
	}
}

@media (max-width: 1390px) {
	.contact-main {
		.message-wr {
			&:before {
				left: -17%;
			}
		}
	}
}

@media (max-width: 1350px) {
	.contact-main {
		.message-wr {
			&:before {
				left: -19%;
			}
		}
	}
}

@media (max-width: 1300px) {
	header {
		&:before {
			left: -10%;
		}
		&:after {
			right: -11%;
		}
		.select-wr {
			margin-left: 42.5%;
		}
	}
	main {
		.browse-wr {
			&:after {
				right: -20%;
			}
			&:before {
				left: -20%;
			}
		}
		.supp-wr {
			&:before {
				left: -5%;
			}
			&:after {
				right: -15%;
			}
		}
	}
	.contact-main {
		.message-wr {
			&:before {
				left: -23%;
			}
		}
	}
}

@media (max-width: 1255px) {
	.contact-main {
		.message-wr {
			&:before {
				left: -25%;
			}
		}
	}
}

@media(max-width: 1199px) {
	header {
		&:before {
			left: -18%;
		}
		&:after {
			right: -21%;
		}
		.select-wr {
			margin-left: 47.5%;
		}
		.top-nav {
			a {
				font-size: 23px;
			}
		}
		.header-subtitle {
			width: 40%;
		}
		.header-title {
			width: 60%;
		}
	}
	main {
		.close-wr {
			text-align: center;
			a {
				padding-left: 25px;
				&:before {
					left: -10px;
				}
			}
		}
		.car-item {
			.name {
				padding-left: 10px;
			}
			.time {
				padding: 10px 0;
				text-align: center;
				span {
					margin: 0;
				}
			}
		}
		.browse-wr {
			&:before {
				left: -25%;
			}
		}
		.supp-wr {
			height: auto;
			&:before {
				left: -12%;
				top: 69px;
			}
			&:after {
				right: -20%;
				top: 69px;
			}
		}
		.supp {
			padding-bottom: 25px;
			&:before {
				height: 450px;
				top: 6px;
			}
		}
		.supp-text {
			height: 320px;
			width: 320px;
			padding: 60px 40px 0 40px;
			text-align: center
		}
		.reviews {
			.date {
				padding-right: 10px;
			}
		}
	}
	footer {
		.footer-nav {
			a {
				font-size: 26px;
			}
		}
		.repokar-wr {
			padding: 35px 0 25px;
		}
		.repokar-text {
			font-size: 14px;
			margin-left: 10px;
			span {
				font-size: 35px;
			}
		}
		.about-text {
			font-size: 17px;
		}
		.scroll {
			font-size: 26px;
		}
		.contacts-wr {
			li {
				font-size: 15px;
			}
		}
		.social {
			li {
				height: 41px;
				width: 41px;
				margin-right: 9px;
			}
		}
		.footer-title {
			font-size: 27px;
		}
	}
	.contact-header {
		.register-wr {
			bottom: -50px;
		}
	}
	.contact-main {
		.message-wr {
			&:before {
				left: 0;
				right: 0;
				width: 100%;
				transform: none;
			}
			&:after {
				content: none;
			}
		}
		.send-wr {
			margin-top: 0;
			text-align: right;
			.send {
				width: 30%;
				border: 3px solid #fff;
				font-size: 25px;
			}
		}
		.chat-wr {
			.chat-btn {
				height: 156px;
				margin-top: -40px;
				padding-top: 40px;
			}
		}
	}
}

@media(max-width: 1150px) {
	header {
		&:before {
			left: -20%;
		}
		&:after {
			right: -23%;
		}
	}
	main {
		.browse-wr {
			&:after {
				right: -22%;
			}
			&:before {
				left: -28%;
			}
		}
		.supp-wr {
			&:before {
				left: -17%;
			}
			&:after {
				right: -22%;
			}
		}
	}
}

@media(max-width: 1100px) {
	header {
		&:after {
			right: -27%;
		}
	}
	main {
		.browse-wr {
			&:after {
				right: -26%;
			}
			&:before {
				left: -33%;
			}
		}
		.supp-wr {
			&:before {
				left: -19%;
			}
			&:after {
				right: -26%;
			}
		}
	}
}

@media(max-width: 1050px) {
	header {
		&:after {
			right: -32%;
		}
		.select-wr {
			margin-left: 47.5%;
		}
	}
	main {
		.browse-wr {
			&:after {
				right: -28%;
			}
			&:before {
				left: -37%;
			}
		}
		.supp-wr {
			&:before {
				left: -20%;
			}
			&:after {
				right: -30%;
			}
		}
	}
}

@media(max-width: 992px) {
	.container {
		width: 100%;
	}
	header {
		background: rgba(54, 71, 85, .7);
		height: auto;
		padding: 20px 0;
		&:before {
			background-image: url(../images/top-bg-2.jpg);
			background-position: center;
			left: 0;
			right: 0;
			background-size: cover;
		}
		&:after {
			content: none;
		}
		.text-logo {
			color: #FFF;
		}
		.top-nav {
			a {
				font-size: 18px;
			}
		}
		.header-subtitle {
			width: 100%;
			max-width: 100%;
			font-size: 28px;
			text-align: center;
			padding-bottom: 20px;
		}
		.header-title {
			width: 100%;
			max-width: 100%;
			font-size: 32px;
			text-align: center;
			padding-bottom: 40px;
		}
		.select-wr {
			margin: 0;
			width: 100%;
			font-size: 0;
			.form-group {
				width: 50%;
				display: inline-block;
				text-align: center;
				&:nth-child(n) {
					margin-left: 0;
					&:before {
						left: 0;
					}
				}
			}
			.find-wr {
				width: 50%;
				display: inline-block;
				text-align: center;
				vertical-align: top;
			}
			.find {
				font-size: 30px;
				width: 355px;
				margin-bottom: 40px;
			}
		}
		.register-wr {
			position: static;
			color: #FFF;
			width: 100%;
			text-align: center;
			font-size: 20px;
			.register {
				&:hover {
					color: $yellow;
				}
			}
		}
	}
	main {
		.close-wr {
			a {
				font-size: 18px;
				padding-left: 30px;
				&:before {
					width: 26px;
					height: 26px;
					top: -5px;
					left: 0;
				}
			}
		}
		.car-item {
			.name {
				font-size: 20px;
				padding: 7px 0 7px 7px;
			}
			.time {
				bottom: 21%;
				padding: 6px;
				font-size: 16px;
			}
			.price {
				font-size: 18px;
				height: 50px;
				line-height: 50px;
			}
			.bid {
				height: 50px;
				line-height: 33px;
				font-size: 20px;
			}
		}
		.browse-wr {
			top: -40px;
			&:after {
				content: none;
			}
			&:before {
				transform: none;
				width: 100%;
				left: 0;
				right: 0;
				height: 85%;
			}
		}
		.browse-subtitle {
			margin: 30px 0;
		}
		.browse-title {
			font-size: 26px;
		}
		.browse {
			text-align: center;
		}
		.supp-wr {
			&:after {
				content: none;
			}
			&:before {
				background-image: url(../images/area-bg3.jpg);
				left: 0;
				background-position: center;
				right: 0;
				width: 100%;
				background-size: cover;
				top: 48px;
			}
		}
		.supp {
			&:before {
				top: 0;
			}
		}
		.supp-title {
			font-size: 26px;
			margin-bottom: 20px;
		}
		.supp-subtitle {
			font-size: 20px;
		}
		.supp-text {
			font-size: 15px;
			padding: 60px 35px 0 35px;
		}
		.reviews {
			.author {
				font-size: 20px;
				width: 50%;
			}
			.date {
				width: 50%;
				&:before {
					transform: none;
				}
			}
			.text {
				padding: 15px;
			}
		}
		.reviews-title {
			margin: 30px 0 20px;
			font-size: 26px;
		}
		.cl-banner {
			margin-top: 50px;
		}
		.meta-content {
			padding: 30px 0;
		}
	}
	footer {
		.repokar-text {
			font-size: 11px;
			margin-left: 3px;
			span {
				font-size: 23px;
			}
		}
		.footer-nav {
			a {
				font-size: 20px;
			}
		}
		.footer-title {
			font-size: 24px;
		}
		.about-text {
			font-size: 16px;
		}
		.subscribe-wr {
			input {
				font-size: 19px;
			}
			.subscribe {
				font-size: 26px;
			}
		}
		.scroll {
			font-size: 20px;
			margin-top: 35%;
		}
		.contacts-wr {
			padding-top: 15px;
			li {
				width: 100%;
				text-align: center;
				height: 40px;
				a {
					line-height: 40px;
				}
				&:nth-child(2) {
					&:after,
					&:before {
						content: none;
					}
				}
			}
		}
		.social {
			padding-top: 10px;
			li {
				width: 33.3%;
				margin: 0;
				margin-bottom: 15px;
			}
		}
	}
	.auction-header {
		&:before {
			background-image: url(../images/top-bg-auc-2.jpg);
		}
	}
	.auction-main {
		.pagination-wr {
			.pagination {
				a {
					font-size: 22px;
				}
			}
		}
	}
	.contact-header {
		.title-wr {
			margin-top: 30px;
		}
		.header-title {
			padding: 0;
		}
		.select-wr {
			margin: 50px auto 0;
			width: 50%;
			.form-group {
				width: 100%;
				&:nth-child(n) {
					&:before {
						left: -5px;
					}
				}
			}
			.select {
				width: 100%;
				padding-left: 80px;
			}
		}
	}
	.contact-main {
		.send-wr {
			.send {
				font-size: 20px;
				height: 60px;
			}
		}
		.message {
			input {
				font-size: 16px;
			}
			textarea {
				font-size: 16px;
			}
		}
		.chat-wr {
			font-size: 24px;
			margin: 30px 0;
			&:before {
				height: 80px;
			}
			.chat-btn {
				height: 123px;
				margin-top: -30px;
				padding-top: 30px;
				font-size: 32px;
			}
		}
		.tweets-title {
			font-size: 26px;
			margin-bottom: 20px;
		}
	}
}

@media(max-width: 767px) {
	header {
		.top-nav {
			li {
				line-height: 1;
				padding: 25px 0;
			}
			a {
				font-size: 16px;
			}
		}
		.header-subtitle {
			font-size: 24px;
		}
		.header-title {
			font-size: 26px;
		}
		.select-wr {
			.select {
				width: 90%;
				padding-left: 65px;
				font-size: 17px;
				height: 45px;
			}
			.form-group {
				&:before {
					background-size: cover;
					width: 70px;
					height: 70px;
					top: -12px;
				}
			}
			.find {
				width: 90%;
				line-height: 30px;
				height: 45px;
				font-size: 26px;
			}
		}
		.register-wr {
			font-size: 18px;
		}
	}
	main {
		.close-wr {
			text-align: left;
			div {
				&:nth-child(2),
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
		.car-item {
			.name {
				font-size: 18px;
				padding: 5px 0 5px 5px;
			}
			.time {
				bottom: 20%;
				font-size: 15px;
			}
			.price {
				font-size: 16px;
				height: 45px;
				line-height: 45px;
			}
			.bid {
				font-size: 18px;
				height: 45px;
				line-height: 27px;
			}
		}
		.browse-wr {
			top: -35px;
		}
		.more-btn {
			height: 40px;
			font-size: 18px;
			line-height: 38px;
		}
		.supp {
			&:before {
				height: 770px;
				top: 2px;
			}
		}
		.supp-text {
			height: 300px;
			width: 300px;
			font-size: 14px;
		}
		.supp-subtitle {
			font-size: 18px;
		}
		.supp-title {
			font-size: 24px;
		}
		.reviews {
			margin-bottom: 20px;
			text-align: center;
			.author {
				background: $tirq;
				color: #FFF;
				display: block;
				width: 100%;
				height: 30px;
				line-height: 30px;
			}
			.date {
				text-align: center;
				padding: 0;
				display: block;
				width: 100%;
				height: 30px;
				line-height: 30px;
			}
		}
		.cl-banner {
			margin-top: 20px;
		}
	}
	footer {
		.footer-nav {
			padding-top: 0;
			ul {
				font-size: 0;
			}
			li {
				width: 50%;
				display: inline-block;
				text-align: center;
				margin-bottom: 15px;
			}
			a {
				font-size: 20px;
			}
		}
		.footer-title {
			font-size: 22px;
		}
		.about-text {
			font-size: 14px;
			padding: 15px 0 25px;
			text-align: center;
		}
		.repokar-wr {
			padding: 20px 0 30px;
			text-align: center;
		}
		.subscribe-wr {
			font-size: 0;
			input {
				font-size: 16px;
			}
			.subscribe {
				font-size: 24px;
			}
			.form-group {
				width: 50%;
				display: inline-block;
				vertical-align: top;
			}
		}
		.scroll {
			margin-top: 0;
			margin-bottom: 20px;
			&:hover {
				transform: translatey(-15px);
			}
		}
		.contacts-wr {
			padding: 15px 0;
		}
		.social {
			padding-top: 15px;
			li {
				width: 16%;
				margin-right: 0.6%;
			}
		}
	}
	.auction-main {
		.pagination-wr {
			.pagination {
				a {
					font-size: 20px;
				}
			}
		}
		.cl-banner {
			margin-top: 20px;
		}
	}
	.contact-header {
		.select-wr {
			width: 65%;
			.select {
				padding-left: 65px;
			}
		}
	}
	.contact-main {
		.message-wr {
			height: auto;
			margin-top: 30px;
			&:before {
				height: 100%;
			}
		}
		.message {
			input {
				height: 43px;
			}
			textarea {
				height: 265px;
			}
			.form-group {
				margin-bottom: 30px;
			}
		}
		.send-wr {
			margin-top: 0;
			text-align: center;
			.send {
				width: 50%;
			}
		}
		.chat-wr {
			height: 100%;
			padding: 15px 0;
			background: #DDE4EF;
			&:before {
				content: none;
			}
			.chat-btn {
				width: 123px;
				display: inline-block;
				margin: 0;
			}
			.chat {
				text-align: center;
				margin: 15px 0;
			}
			.space {
				display: none;
			}
		}
	}
}

@media(max-width: 585px) {
	main {
		.browse-wr {
			top: 0;
		}
		.browse-title {
			text-align: center;
			margin: 20px 0;
		}
		.more-wr {
			text-align: center;
		}
		.supp-wr {
			margin-top: 15px;
		}
	}
	.auction-main {
		.pagination-wr {
			.pagination {
				a {
					font-size: 18px;
				}
			}
		}
		.cl-banner {
			margin-top: 45px;
		}
	}
	.contact-header {
		.select-wr {
			width: 80%;
			.select {
				line-height: 47px;
			}
		}
	}
}

@media(max-width: 480px) {
	header {
		.top-nav {
			li {
				width: 50%;
				padding: 15px 0;
			}
		}
		.header-subtitle {
			font-size: 20px;
		}
		.header-title {
			font-size: 22px;
		}
		.select-wr {
			.form-group {
				width: 100%;
				&:nth-child(n) {
					margin-bottom: 30px;
				}
				&:before {
					width: 60px;
					height: 60px;
					top: -10px;
				}
			}
			.select {
				padding-left: 60px;
				font-size: 16px;
				height: 40px;
			}
			.find-wr {
				width: 100%;
			}
			.find {
				margin-bottom: 20px;
				line-height: 27px;
				height: 40px;
				font-size: 24px;
			}
		}
		.register-wr {
			font-size: 16px;
		}
	}
	main {
		.close-wr {
			a {
				font-size: 14px;
				padding-left: 25px;
				&:before {
					width: 23px;
					height: 23px;
				}
			}
		}
		.browse-wr {
			&:before {
				height: 91%;
			}
		}
		.browse-title {
			font-size: 22px;
		}
		.browse {
			ul {
				text-align: left;
			}
			li {
				width: 50%;
				text-align: center;
			}
			.browse-subtitle {
				font-size: 18px;
				text-align: center;
				margin: 30px 0;
			}
		}
		.supp-title {
			font-size: 22px;
		}
		.supp {
			&:before {
				top: 4px;
			}
		}
	}
	footer {
		.contacts-wr {
			li {
				font-size: 13px;
			}
		}
		.subscribe-wr {
			.subscribe {
				font-size: 20px;
			}
			input {
				font-size: 14px;
			}
		}
		.copy {
			padding: 15px;
		}
		.social {
			li {
				width: 33%;
				margin-right: 0.3%;
			}
		}
	}
	.auction-main {
		.pagination-wr {
			.pagination {
				margin: 0 0 20px;
				a {
					padding: 5px 6px;
				}
			}
		}
		.cl-banner {
			margin-top: 0;
		}
	}
	.contact-header {
		.select-wr {
			width: 100%;
			.select {
				line-height: 43px;
				padding-left: 55px;
				font-size: 12px;
			}
		}
	}
	.contact-main {
		.message-wr {
			margin-top: 20px;
		}
		.send-wr {
			.send {
				width: 100%;
			}
		}
		.chat-wr {
			font-size: 22px;
			margin: 20px 0;
		}
		.tweets {
			margin-bottom: 30px;
			&:last-child {
				margin: 0;
			}
			img {
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 370px) {
	.auction-main {
		.pagination-wr {
			.pagination {
				a {
					font-size: 14px;
				}
			}
		}
	}
}
