@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans-Light.eot");
	src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans-Semibold.eot");
	src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'NEON LIGHTS';
	src: url("../fonts/NEONLIGHTS.eot");
	src: url("../fonts/NEONLIGHTS.eot?#iefix") format("embedded-opentype"), url("../fonts/NEONLIGHTS.woff") format("woff"), url("../fonts/NEONLIGHTS.ttf") format("truetype");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Pigeon Wing DEMO';
	src: url("../fonts/PigeonWingDEMO.eot");
	src: url("../fonts/PigeonWingDEMO.eot?#iefix") format("embedded-opentype"), url("../fonts/PigeonWingDEMO.woff") format("woff"), url("../fonts/PigeonWingDEMO.ttf") format("truetype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'Metropolis';
	src: url("../fonts/Metropolis-Medium.eot");
	src: url("../fonts/Metropolis-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Medium.woff") format("woff"), url("../fonts/Metropolis-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'Metropolis Extra';
	src: url("../fonts/Metropolis-ExtraLight.eot");
	src: url("../fonts/Metropolis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-ExtraLight.woff") format("woff"), url("../fonts/Metropolis-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal
}

@font-face {
	font-family: 'Metropolis';
	src: url("../fonts/Metropolis-Regular.eot");
	src: url("../fonts/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Regular.woff") format("woff"), url("../fonts/Metropolis-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'Metropolis';
	src: url("../fonts/Metropolis-Thin.eot");
	src: url("../fonts/Metropolis-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Thin.woff") format("woff"), url("../fonts/Metropolis-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: 'Metropolis';
	src: url("../fonts/Metropolis-Light.eot");
	src: url("../fonts/Metropolis-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Light.woff") format("woff"), url("../fonts/Metropolis-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Metropolis Extra';
	src: url("../fonts/Metropolis-ExtraBold.eot");
	src: url("../fonts/Metropolis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-ExtraBold.woff") format("woff"), url("../fonts/Metropolis-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: #FFF
}

a:focus {
	outline: none
}

a[href^='mailto:']:hover {
	text-decoration: underline
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0
}

body {
	min-width: 320px;
	font-family: 'Metropolis';
	font-weight: normal;
	font-size: 16px;
	max-width: 1600px;
	margin: 0 auto
}

header {
	height: 625px;
	position: relative;
	overflow: hidden
}

header:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-image: url(../images/top-bg.png);
	width: 100%;
	background-repeat: no-repeat;
	background-position: left center;
	z-index: -1
}

header:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url(../images/top-half-bg.png);
	width: 100%;
	background-repeat: no-repeat;
	background-position: right top;
	z-index: -1
}

header .logo-wr {
	text-align: center;
	padding-top: 5px
}

header .logo {
	display: inline-block;
	text-align: center
}

header .logo img {
	display: inline-block
}

header .text-logo {
	color: #1b2d3f;
	text-align: center;
	line-height: 1
}

header .text-logo span {
	font-size: 40px;
	font-family: 'NEON LIGHTS';
	font-weight: 600;
	text-transform: uppercase
}

header .top-nav {
	display: block;
	width: 100%;
	font-size: 0
}

header .top-nav li {
	width: 25%;
	display: inline-block;
	text-align: center;
	line-height: 96px
}

header .top-nav a {
	font-size: 24px;
	text-transform: uppercase;
	transition: all ease-out .5s
}

header .top-nav a:hover,
header .top-nav a.active,
header .top-nav a:focus {
	color: #ece473
}

header .title-wr {
	font-size: 0
}

header .header-subtitle {
	text-align: left;
	font-size: 32px;
	color: #FFF;
	display: inline-block;
	max-width: 430px;
	vertical-align: top;
	padding-top: 15px;
	font-weight: 300
}

header .header-title {
	text-align: right;
	font-size: 36px;
	font-weight: 200;
	font-family: 'Metropolis Extra';
	display: inline-block;
	text-transform: uppercase;
	max-width: 710px;
	color: #FFF;
	vertical-align: top
}

header .select-wr {
	width: 480px;
	margin-left: 505px
}

header .select-wr .select {
	width: 355px;
	height: 50px;
	border: none;
	border-radius: 20px;
	padding-left: 100px;
	color: #BCBCBC;
	font-size: 18px;
	background: url("../images/down.png") no-repeat right #fff;
	background-position-x: 95%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	text-indent: 1px;
	text-overflow: '';
	outline: none
}

header .select-wr .select::-ms-expand {
	display: none
}

header .select-wr .select:focus,
header .select-wr .select:active {
	outline: none
}

header .select-wr .form-group {
	margin-bottom: 55px;
	position: relative
}

header .select-wr .form-group:before {
	content: '';
	position: absolute;
	background-image: url(../images/car-round.png);
	background-repeat: no-repeat;
	width: 86px;
	height: 86px;
	left: -60px;
	top: -15px
}

header .select-wr .form-group:nth-child(2) {
	margin-left: 40px
}

header .select-wr .form-group:nth-child(2):before {
	background-image: url(../images/multi-car-r.png)
}

header .select-wr .form-group:nth-child(3) {
	margin: 0 0 40px 80px
}

header .select-wr .form-group:nth-child(3):before {
	background-image: url(../images/loc-round.png)
}

header .select-wr .find-wr {
	text-align: right
}

header .select-wr .find {
	height: 50px;
	width: 325px;
	border-radius: 20px;
	background: #fbaf5d;
	border: 3px solid transparent;
	color: #1b2d3f;
	font-size: 34px;
	font-family: 'Metropolis Extra';
	font-weight: 800;
	line-height: 35px;
	transition: all ease-out .5s;
	outline: none
}

header .select-wr .find:focus,
header .select-wr .find:active {
	outline: none
}

header .select-wr .find:hover {
	background: #1b2d3f;
	color: #fbaf5d;
	border-color: #fbaf5d
}

header .container {
	position: relative
}

header .register-wr {
	position: absolute;
	left: 100px;
	bottom: -25px;
	width: 390px;
	text-transform: uppercase;
	color: #1b2d3f;
	font-size: 24px;
	text-align: center
}

header .register-wr .register {
	color: #1795a0;
	text-decoration: underline;
	transition: all ease-out .5s
}

header .register-wr .register:hover {
	color: #1b2d3f
}

header .register-wr span {
	margin: 0 40px
}

main .close-wr {
	padding: 40px 0;
	text-align: right
}

main .close-wr a {
	color: #1b2d3f;
	text-transform: uppercase;
	font-size: 22px;
	position: relative;
	transition: all ease-out .5s
}

main .close-wr a:before {
	content: "";
	width: 33px;
	height: 33px;
	position: absolute;
	left: -70px;
	top: -7px;
	border: 4px solid #1b2d3f;
	border-radius: 50%;
	background: #FFF;
	box-shadow: inset 0px 0px 0px 3px #fff;
	transition: all ease-out .5s
}

main .close-wr a:hover,
main .close-wr a.active {
	color: #1795a0
}

main .close-wr a:hover:before,
main .close-wr a.active:before {
	border-color: #1795a0;
	background: #1795a0;
	box-shadow: inset 0px 0px 0px 3px #fff
}

main .car-item {
	position: relative;
	padding-bottom: 30px
}

main .car-item .name {
	display: block;
	background: #1795a0;
	color: #FFF;
	font-size: 22px;
	text-align: center;
	padding: 10px 0;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis
}

main .car-item figure {
	position: relative;
	cursor: pointer;
	height: 290px;
	margin: 10px 0;
	background: #CCC
}

main .car-item figure img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto
}

main .car-item .time {
	display: block;
	background: rgba(27, 45, 63, 0.7);
	padding: 10px 0;
	font-family: "Open Sans";
	font-size: 18px;
	color: #FFF;
	padding-left: 30px;
	position: absolute;
	bottom: 95px;
	left: 15px;
	right: 15px
}

main .car-item .time span {
	margin-right: 25px;
	display: inline-block
}

main .car-item .bid-wr {
	font-size: 0
}

main .car-item .price {
	width: 50%;
	display: inline-block;
	background: #1795a0;
	color: #FFF;
	font-size: 22px;
	text-align: center;
	height: 55px;
	line-height: 55px;
	font-family: "Open Sans";
	font-weight: 600
}

main .car-item .bid {
	width: 50%;
	display: inline-block;
	height: 55px;
	line-height: 37px;
	font-size: 28px;
	color: #FFF;
	text-transform: uppercase;
	background: #fbaf5d;
	border: 3px solid transparent;
	border-radius: 0;
	vertical-align: top;
	font-family: "Open Sans";
	font-weight: 600;
	transition: all ease-out .5s
}

main .car-item .bid:hover {
	color: #fbaf5d;
	background: #fff;
	border-color: #fbaf5d
}

main .more-wr {
	text-align: right
}

main .more-btn {
	width: 265px;
	height: 45px;
	background: #fbaf5d;
	color: #1b2d3f;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	line-height: 44px;
	z-index: 2;
	position: relative;
	border: 3px solid transparent;
	transition: all ease-out .5s
}

main .more-btn span {
	margin-right: 10px;
	display: inline-block;
	transform: rotatey(180deg);
	font-size: 1.3em;
	vertical-align: text-bottom
}

main .more-btn:hover {
	background: #1b2d3f;
	color: #fbaf5d;
	border: 3px solid #fbaf5d
}

main .browse-wr {
	position: relative;
	top: -45px;
	overflow: hidden
}

main .browse-wr:before {
	content: '';
	background: #1795a0;
	width: 900px;
	height: 320px;
	position: absolute;
	left: -100px;
	bottom: 0;
	z-index: -1;
	transform-origin: 100% 0;
	transform: skewX(17deg)
}

main .browse-wr:after {
	content: "";
	position: absolute;
	background-image: url(../images/browse-bg.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	width: 100%;
	right: 0;
	top: 45px;
	bottom: 0;
	z-index: -2
}

main .browse-title {
	font-size: 30px;
	color: #1b2d3f;
	font-weight: 600;
	margin-bottom: 25px
}

main .browse-subtitle {
	font-size: 18px;
	font-weight: 600;
	color: #FFF;
	line-height: 1;
	margin-bottom: 30px
}

main .browse {
	font-size: 0
}

main .browse li {
	margin-bottom: 20px;
	line-height: 1;
	width: 33%;
	display: inline-block
}

main .browse a {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 16px;
	transition: all ease-out .5s
}

main .browse a.active,
main .browse a:hover {
	color: #ece473
}

main .browse .number {
	color: #FFF
}

main .supp-wr {
	margin-top: -25px;
	position: relative;
	height: 492px
}

main .supp-wr:before {
	content: '';
	background-image: url(../images/area-bg.png);
	background-repeat: no-repeat;
	width: 900px;
	position: absolute;
	left: 0;
	top: 60px;
	bottom: 0;
	z-index: -1
}

main .supp-wr:after {
	content: "";
	position: absolute;
	background-image: url(../images/supp-bg.png);
	background-repeat: no-repeat;
	width: 900px;
	right: 0;
	top: 60px;
	bottom: 0;
	z-index: -1
}

main .supp-title {
	font-size: 30px;
	font-weight: 600;
	color: #1b2d3f;
	text-align: center;
	margin-bottom: 30px
}

main .supp-subtitle {
	font-size: 24px;
	color: #ece473;
	text-align: center;
	text-transform: uppercase;
	padding: 25px 0 90px
}

main .supp-text {
	max-width: 260px;
	margin: 0 0 0 115px
}

main .supp:last-child .supp-text {
	margin: 0 auto
}

main .reviews-title {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin: 55px 0 35px
}

main .reviews {
	font-size: 0
}

main .reviews .author {
	display: inline-block;
	width: 44.5%;
	color: #919191;
	font-size: 24px;
	height: 65px;
	vertical-align: top;
	line-height: 65px;
	text-align: center
}

main .reviews .date {
	display: inline-block;
	width: 55.5%;
	font-size: 14px;
	height: 65px;
	line-height: 65px;
	padding-right: 20px;
	font-family: "Open Sans";
	color: #fff;
	text-align: right;
	overflow: hidden;
	position: relative
}

main .reviews .date:before {
	content: "";
	position: absolute;
	transform-origin: left bottom;
	transform: skew(-56deg);
	width: 100%;
	height: 100%;
	background: #1795a0;
	z-index: -1;
	left: 0
}

main .reviews .text {
	background: #ece473;
	color: #1b2d3f;
	font-size: 14px;
	font-family: "Open Sans";
	padding: 20px 30px;
	margin: 0;
	font-weight: 600
}

main .cl-banner {
	margin-top: 70px;
	display: block
}

main .meta-content {
	text-align: center;
	font-size: 12px;
	color: #1b2d3f;
	padding: 40px 0
}

footer {
	position: relative;
	padding: 25px 0 0
}

footer:before {
	content: "";
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1
}

footer .footer-nav {
	padding-top: 65px
}

footer .footer-nav li {
	line-height: 1;
	margin-bottom: 25px
}

footer .footer-nav a {
	font-size: 28px;
	font-weight: 100;
	transition: all ease-out .5s
}

footer .footer-nav a:hover {
	color: #ece473
}

footer .footer-title {
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	color: #fff;
	line-height: 1
}

footer .about-text {
	font-size: 18px;
	font-family: "Open Sans";
	color: #fff;
	padding-top: 35px;
	margin: 0
}

footer .repokar-wr {
	padding: 20px 0 25px;
	font-size: 0;
	display: block
}

footer .repokar {
	display: inline-block;
	vertical-align: middle
}

footer .repokar-text {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	line-height: 1;
	font-weight: bold;
	margin-left: 35px;
	vertical-align: middle
}

footer .repokar-text span {
	font-size: 42px;
	text-transform: uppercase
}

footer .subscribe-wr {
	padding: 25px 0 0
}

footer .subscribe-wr input {
	border-radius: 0;
	height: 40px;
	text-align: center;
	font-size: 21px;
	color: #434343;
	font-family: "Open Sans"
}

footer .subscribe-wr .subscribe {
	width: 100%;
	height: 40px;
	background: #ece473;
	color: #1b2d3f;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 27px;
	border-radius: 0;
	border: 3px solid transparent;
	transition: all ease-out .5s
}

footer .subscribe-wr .subscribe:hover {
	border-color: #ece473;
	color: #ece473;
	background: #1b2d3f
}

footer .return-wr {
	padding: 20px 0
}

footer .scroll {
	display: block;
	color: #ece473;
	text-align: center;
	font-size: 28px;
	height: 90px;
	line-height: 130px;
	background: url(../images/scroll-bg1.png) no-repeat center;
	margin-top: 20px;
	transition: all .5s ease-out
}

footer .scroll:hover {
	transform: translatey(-25px)
}

footer .contacts-wr {
	padding-top: 30px;
	font-size: 0
}

footer .contacts-wr li {
	width: 33.3%;
	height: 50px;
	display: inline-block;
	font-size: 18px;
	font-family: "Open Sans";
	color: #FFF;
	vertical-align: middle;
	position: relative
}

footer .contacts-wr li a {
	line-height: 50px
}

footer .contacts-wr li:last-child {
	text-align: center
}

footer .contacts-wr li:nth-child(2):after,
footer .contacts-wr li:nth-child(2):before {
	content: "";
	position: absolute;
	top: 5px;
	height: 40px;
	right: -5px;
	background: #fff;
	width: 3px;
	transform: skew(-16deg)
}

footer .contacts-wr li:nth-child(2):before {
	left: -10px
}

footer .social {
	font-size: 0;
	padding-top: 30px
}

footer .social a {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: relative
}

footer .social a:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	transition: all ease-out .5s
}

footer .social li {
	height: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
	margin-right: 12px
}

footer .social li:first-child a:before {
	background-image: url(../images/pint.png)
}

footer .social li:first-child a:hover:before {
	background-image: url(../images/pint-h.png)
}

footer .social li:nth-child(2) a:before {
	background-image: url(../images/tumbl.png)
}

footer .social li:nth-child(2) a:hover:before {
	background-image: url(../images/tumbl-h.png)
}

footer .social li:nth-child(3) a:before {
	background-image: url(../images/link.png)
}

footer .social li:nth-child(3) a:hover:before {
	background-image: url(../images/link-h.png)
}

footer .social li:nth-child(4) a:before {
	background-image: url(../images/tweet.png)
}

footer .social li:nth-child(4) a:hover:before {
	background-image: url(../images/tweet-h.png)
}

footer .social li:nth-child(5) a:before {
	background-image: url(../images/face.png)
}

footer .social li:nth-child(5) a:hover:before {
	background-image: url(../images/face-h.png)
}

footer .social li:last-child {
	margin: 0
}

footer .social li:last-child a:before {
	background-image: url(../images/google.png)
}

footer .social li:last-child a:hover:before {
	background-image: url(../images/google-h.png)
}

footer .copy {
	font-size: 13px;
	text-align: center;
	color: #FFF;
	padding: 15px 0;
	background: #1b2d3f
}

.auction-header:before {
	background-image: url(../images/top-bg-auc.png)
}

.auction-header:after {
	background-image: url(../images/top-half-bg-auc.png)
}

.auction-main .pagination-wr {
	text-align: center
}

.auction-main .pagination-wr .pagination a {
	background: #fbaf5d;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 24px;
	border: none;
	transition: all ease-out .5s
}

.auction-main .pagination-wr .pagination a:hover,
.auction-main .pagination-wr .pagination a.active,
.auction-main .pagination-wr .pagination a:focus {
	background: #1795a0
}

.auction-main .cl-banner {
	margin-top: 45px
}

.contact-header:before {
	background-image: url(../images/top-bg-contact.png)
}

.contact-header:after {
	background-image: url(../images/top-half-bg-contact.png)
}

.contact-header .title-wr {
	text-align: right
}

.contact-header .select-wr {
	margin-top: 50px
}

.contact-header .select-wr .select {
	border-radius: 20px;
	text-align: center;
	padding-left: 0;
	font-size: 14px;
	background: #FFF;
	outline: none;
	color: #1b2d3f;
	line-height: 50px;
	cursor: default
}

.contact-header .select-wr .select a {
	color: #1b2d3f
}

.contact-header .select-wr .form-group:before {
	background-image: url(../images/loc-round.png)
}

.contact-header .select-wr .form-group:nth-child(2):before {
	background-image: url(../images/email-round.png)
}

.contact-header .select-wr .form-group:nth-child(3):before {
	background-image: url(../images/phone-round.png)
}

.contact-header .register-wr {
	bottom: -80px
}

.contact-main .message-wr {
	position: relative;
	overflow: hidden;
	height: auto;
	padding: 30px 0 15px;
	margin-top: 55px
}

.contact-main .message-wr:before {
	content: "";
	background: #1795a0;
	width: 1150px;
	height: 100%;
	top: 0;
	position: absolute;
	left: -130px;
	bottom: 0;
	z-index: -1;
	transform: skewX(-35deg)
}

.contact-main .message-wr:after {
	content: "";
	position: absolute;
	background-image: url(../images/message-bg.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	z-index: -2;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%
}

.contact-main .message textarea {
	height: 310px;
	resize: none;
	border: 0;
	border-radius: 0;
	font-size: 18px;
	color: #1b2d3f
}

.contact-main .message textarea::-webkit-input-placeholder {
	color: #1b2d3f
}

.contact-main .message textarea::-moz-placeholder {
	color: #1b2d3f
}

.contact-main .message textarea::-ms-input-placeholder {
	color: #1b2d3f
}

.contact-main .message input {
	height: 47px;
	border: 0;
	border-radius: 0;
	font-size: 18px;
	color: #1b2d3f
}

.contact-main .message input::-webkit-input-placeholder {
	color: #1b2d3f
}

.contact-main .message input::-moz-placeholder {
	color: #1b2d3f
}

.contact-main .message input::-ms-input-placeholder {
	color: #1b2d3f
}

.contact-main .message .form-group {
	margin-bottom: 40px
}

.contact-main .send-wr {
	margin-top: 250px;
	text-align: center
}

.contact-main .send-wr .send {
	height: 70px;
	color: #FFF;
	background: #1795a0;
	border-radius: 20px;
	width: 325px;
	font-size: 30px;
	font-weight: bold;
	border: 3px solid #1795a0;
	transition: all ease-out .5s
}

.contact-main .send-wr .send:hover {
	color: #1795a0;
	border-color: #1795a0;
	background: #FFF
}

.contact-main .tweets-title {
	text-align: center;
	color: #1b2d3f;
	font-size: 30px;
	margin: 0 0 40px
}

.contact-main .captcha-wr {
	font-size: 0
}

.contact-main .captcha-wr .captha {
	display: inline-block;
	width: 63%
}

.contact-main .captcha-wr .refresh {
	display: inline-block;
	width: 18%;
	margin: 0 0 0 19%;
	vertical-align: top;
	text-align: center;
	transition: all ease-out .5s
}

.contact-main .captcha-wr .refresh:hover {
	transform: rotate(360deg)
}

.contact-main .captcha-wr .refresh img {
	display: inline-block
}

.contact-main .chat-wr {
	height: 175px;
	position: relative;
	padding-top: 50px;
	text-align: center;
	font-size: 28px;
	margin: 60px 0 90px
}

.contact-main .chat-wr:before {
	content: "";
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	height: 90px;
	width: 100%;
	border-radius: 35px;
	background: #DDE4EF
}

.contact-main .chat-wr a {
	text-decoration: underline;
	color: #1795a0;
	font-weight: bold;
	transition: all ease-out .5s
}

.contact-main .chat-wr a:hover {
	color: #1b2d3f
}

.contact-main .chat-wr .chat {
	padding: 0 10px
}

.contact-main .chat-wr .chat-btn {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	height: 175px;
	display: block;
	margin-top: -50px;
	border-radius: 50%;
	background: #1795a0;
	width: 100%;
	font-weight: 100;
	padding-top: 50px;
	line-height: 1.1;
	font-size: 36px;
	box-shadow: 2px 2px 20px 0px #333;
	border: 2px solid transparent;
	transition: all ease-out .5s
}

.contact-main .chat-wr .chat-btn:hover {
	transform: scale(1.1);
	color: #1795a0;
	background: #fff;
	border: 2px solid #1795a0
}

@media (max-width: 1600px) {
	header .select-wr {
		margin-left: 43%
	}
	main .supp-subtitle {
		padding: 25px 0 15px
	}
	main .supp-text {
		margin: 0 auto;
		height: 333px;
		width: 333px;
		padding: 80px 20px 0 40px;
		padding-top: 80px;
		background: rgba(247, 247, 247, 0.9);
		border-radius: 50%;
		max-width: 100%
	}
	main .supp-wr {
		overflow: hidden
	}
	main .supp-wr:before {
		background-image: url(../images/area-bg2.png);
		top: 63px
	}
	main .supp-wr:after {
		background-image: url(../images/supp-bg2.png);
		right: -4px;
		top: 63px
	}
	main .supp {
		position: relative
	}
	main .supp:before {
		content: "";
		position: absolute;
		background: rgba(62, 76, 88, 0.7);
		left: -25%;
		right: -25%;
		bottom: 0;
		top: 0;
		width: 150%;
		height: 430px
	}
}

@media (max-width: 1550px) {
	.contact-main .message-wr:before {
		left: -10%
	}
}

@media (max-width: 1520px) {
	.contact-main .message-wr:before {
		left: -11%
	}
}

@media (max-width: 1480px) {
	.contact-main .message-wr:before {
		left: -13%
	}
}

@media (max-width: 1440px) {
	header:before {
		left: -11%
	}
	header:after {
		right: -6%
	}
	header .select-wr {
		margin-left: 43.5%
	}
	main .browse-wr:after {
		right: -15%
	}
	main .browse-wr:before {
		left: -15%
	}
	main .supp-wr:after {
		right: -8%
	}
	.contact-main .message-wr:before {
		left: -15%
	}
}

@media (max-width: 1390px) {
	.contact-main .message-wr:before {
		left: -17%
	}
}

@media (max-width: 1350px) {
	.contact-main .message-wr:before {
		left: -19%
	}
}

@media (max-width: 1300px) {
	header:before {
		left: -10%
	}
	header:after {
		right: -11%
	}
	header .select-wr {
		margin-left: 42.5%
	}
	main .browse-wr:after {
		right: -20%
	}
	main .browse-wr:before {
		left: -20%
	}
	main .supp-wr:before {
		left: -5%
	}
	main .supp-wr:after {
		right: -15%
	}
	.contact-main .message-wr:before {
		left: -23%
	}
}

@media (max-width: 1255px) {
	.contact-main .message-wr:before {
		left: -25%
	}
}

@media (max-width: 1199px) {
	header:before {
		left: -18%
	}
	header:after {
		right: -21%
	}
	header .select-wr {
		margin-left: 47.5%
	}
	header .top-nav a {
		font-size: 23px
	}
	header .header-subtitle {
		width: 40%
	}
	header .header-title {
		width: 60%
	}
	main .close-wr {
		text-align: center
	}
	main .close-wr a {
		padding-left: 25px
	}
	main .close-wr a:before {
		left: -10px
	}
	main .car-item .name {
		padding-left: 10px
	}
	main .car-item .time {
		padding: 10px 0;
		text-align: center
	}
	main .car-item .time span {
		margin: 0
	}
	main .browse-wr:before {
		left: -25%
	}
	main .supp-wr {
		height: auto
	}
	main .supp-wr:before {
		left: -12%;
		top: 69px
	}
	main .supp-wr:after {
		right: -20%;
		top: 69px
	}
	main .supp {
		padding-bottom: 25px
	}
	main .supp:before {
		height: 450px;
		top: 6px
	}
	main .supp-text {
		height: 320px;
		width: 320px;
		padding: 60px 40px 0 40px;
		text-align: center
	}
	main .reviews .date {
		padding-right: 10px
	}
	footer .footer-nav a {
		font-size: 26px
	}
	footer .repokar-wr {
		padding: 35px 0 25px
	}
	footer .repokar-text {
		font-size: 14px;
		margin-left: 10px
	}
	footer .repokar-text span {
		font-size: 35px
	}
	footer .about-text {
		font-size: 17px
	}
	footer .scroll {
		font-size: 26px
	}
	footer .contacts-wr li {
		font-size: 15px
	}
	footer .social li {
		height: 41px;
		width: 41px;
		margin-right: 9px
	}
	footer .footer-title {
		font-size: 27px
	}
	.contact-header .register-wr {
		bottom: -50px
	}
	.contact-main .message-wr:before {
		left: 0;
		right: 0;
		width: 100%;
		transform: none
	}
	.contact-main .message-wr:after {
		content: none
	}
	.contact-main .send-wr {
		margin-top: 0;
		text-align: right
	}
	.contact-main .send-wr .send {
		width: 30%;
		border: 3px solid #fff;
		font-size: 25px
	}
	.contact-main .chat-wr .chat-btn {
		height: 156px;
		margin-top: -40px;
		padding-top: 40px
	}
}

@media (max-width: 1150px) {
	header:before {
		left: -20%
	}
	header:after {
		right: -23%
	}
	main .browse-wr:after {
		right: -22%
	}
	main .browse-wr:before {
		left: -28%
	}
	main .supp-wr:before {
		left: -17%
	}
	main .supp-wr:after {
		right: -22%
	}
}

@media (max-width: 1100px) {
	header:after {
		right: -27%
	}
	main .browse-wr:after {
		right: -26%
	}
	main .browse-wr:before {
		left: -33%
	}
	main .supp-wr:before {
		left: -19%
	}
	main .supp-wr:after {
		right: -26%
	}
}

@media (max-width: 1050px) {
	header:after {
		right: -32%
	}
	header .select-wr {
		margin-left: 47.5%
	}
	main .browse-wr:after {
		right: -28%
	}
	main .browse-wr:before {
		left: -37%
	}
	main .supp-wr:before {
		left: -20%
	}
	main .supp-wr:after {
		right: -30%
	}
}

@media (max-width: 992px) {
	.container {
		width: 100%
	}
	header {
		background: rgba(54, 71, 85, 0.7);
		height: auto;
		padding: 20px 0
	}
	header:before {
		background-image: url(../images/top-bg-2.jpg);
		background-position: center;
		left: 0;
		right: 0;
		background-size: cover
	}
	header:after {
		content: none
	}
	header .text-logo {
		color: #FFF
	}
	header .top-nav a {
		font-size: 18px
	}
	header .header-subtitle {
		width: 100%;
		max-width: 100%;
		font-size: 28px;
		text-align: center;
		padding-bottom: 20px
	}
	header .header-title {
		width: 100%;
		max-width: 100%;
		font-size: 32px;
		text-align: center;
		padding-bottom: 40px
	}
	header .select-wr {
		margin: 0;
		width: 100%;
		font-size: 0
	}
	header .select-wr .form-group {
		width: 50%;
		display: inline-block;
		text-align: center
	}
	header .select-wr .form-group:nth-child(n) {
		margin-left: 0
	}
	header .select-wr .form-group:nth-child(n):before {
		left: 0
	}
	header .select-wr .find-wr {
		width: 50%;
		display: inline-block;
		text-align: center;
		vertical-align: top
	}
	header .select-wr .find {
		font-size: 30px;
		width: 355px;
		margin-bottom: 40px
	}
	header .register-wr {
		position: static;
		color: #FFF;
		width: 100%;
		text-align: center;
		font-size: 20px
	}
	header .register-wr .register:hover {
		color: #ece473
	}
	main .close-wr a {
		font-size: 18px;
		padding-left: 30px
	}
	main .close-wr a:before {
		width: 26px;
		height: 26px;
		top: -5px;
		left: 0
	}
	main .car-item .name {
		font-size: 20px;
		padding: 7px 0 7px 7px
	}
	main .car-item .time {
		bottom: 21%;
		padding: 6px;
		font-size: 16px
	}
	main .car-item .price {
		font-size: 18px;
		height: 50px;
		line-height: 50px
	}
	main .car-item .bid {
		height: 50px;
		line-height: 33px;
		font-size: 20px
	}
	main .browse-wr {
		top: -40px
	}
	main .browse-wr:after {
		content: none
	}
	main .browse-wr:before {
		transform: none;
		width: 100%;
		left: 0;
		right: 0;
		height: 85%
	}
	main .browse-subtitle {
		margin: 30px 0
	}
	main .browse-title {
		font-size: 26px
	}
	main .browse {
		text-align: center
	}
	main .supp-wr:after {
		content: none
	}
	main .supp-wr:before {
		background-image: url(../images/area-bg3.jpg);
		left: 0;
		background-position: center;
		right: 0;
		width: 100%;
		background-size: cover;
		top: 48px
	}
	main .supp:before {
		top: 0
	}
	main .supp-title {
		font-size: 26px;
		margin-bottom: 20px
	}
	main .supp-subtitle {
		font-size: 20px
	}
	main .supp-text {
		font-size: 15px;
		padding: 60px 35px 0 35px
	}
	main .reviews .author {
		font-size: 20px;
		width: 50%
	}
	main .reviews .date {
		width: 50%
	}
	main .reviews .date:before {
		transform: none
	}
	main .reviews .text {
		padding: 15px
	}
	main .reviews-title {
		margin: 30px 0 20px;
		font-size: 26px
	}
	main .cl-banner {
		margin-top: 50px
	}
	main .meta-content {
		padding: 30px 0
	}
	footer .repokar-text {
		font-size: 11px;
		margin-left: 3px
	}
	footer .repokar-text span {
		font-size: 23px
	}
	footer .footer-nav a {
		font-size: 20px
	}
	footer .footer-title {
		font-size: 24px
	}
	footer .about-text {
		font-size: 16px
	}
	footer .subscribe-wr input {
		font-size: 19px
	}
	footer .subscribe-wr .subscribe {
		font-size: 26px
	}
	footer .scroll {
		font-size: 20px;
		margin-top: 35%
	}
	footer .contacts-wr {
		padding-top: 15px
	}
	footer .contacts-wr li {
		width: 100%;
		text-align: center;
		height: 40px
	}
	footer .contacts-wr li a {
		line-height: 40px
	}
	footer .contacts-wr li:nth-child(2):after,
	footer .contacts-wr li:nth-child(2):before {
		content: none
	}
	footer .social {
		padding-top: 10px
	}
	footer .social li {
		width: 33.3%;
		margin: 0;
		margin-bottom: 15px
	}
	.auction-header:before {
		background-image: url(../images/top-bg-auc-2.jpg)
	}
	.auction-main .pagination-wr .pagination a {
		font-size: 22px
	}
	.contact-header .title-wr {
		margin-top: 30px
	}
	.contact-header .header-title {
		padding: 0
	}
	.contact-header .select-wr {
		margin: 50px auto 0;
		width: 50%
	}
	.contact-header .select-wr .form-group {
		width: 100%
	}
	.contact-header .select-wr .form-group:nth-child(n):before {
		left: -5px
	}
	.contact-header .select-wr .select {
		width: 100%;
		padding-left: 80px
	}
	.contact-main .send-wr .send {
		font-size: 20px;
		height: 60px
	}
	.contact-main .message input {
		font-size: 16px
	}
	.contact-main .message textarea {
		font-size: 16px
	}
	.contact-main .chat-wr {
		font-size: 24px;
		margin: 30px 0
	}
	.contact-main .chat-wr:before {
		height: 80px
	}
	.contact-main .chat-wr .chat-btn {
		height: 123px;
		margin-top: -30px;
		padding-top: 30px;
		font-size: 32px
	}
	.contact-main .tweets-title {
		font-size: 26px;
		margin-bottom: 20px
	}
}

@media (max-width: 767px) {
	header .top-nav li {
		line-height: 1;
		padding: 25px 0
	}
	header .top-nav a {
		font-size: 16px
	}
	header .header-subtitle {
		font-size: 24px
	}
	header .header-title {
		font-size: 26px
	}
	header .select-wr .select {
		width: 90%;
		padding-left: 65px;
		font-size: 17px;
		height: 45px
	}
	header .select-wr .form-group:before {
		background-size: cover;
		width: 70px;
		height: 70px;
		top: -12px
	}
	header .select-wr .find {
		width: 90%;
		line-height: 30px;
		height: 45px;
		font-size: 26px
	}
	header .register-wr {
		font-size: 18px
	}
	main .close-wr {
		text-align: left
	}
	main .close-wr div:nth-child(2),
	main .close-wr div:first-child {
		margin-bottom: 20px
	}
	main .car-item .name {
		font-size: 18px;
		padding: 5px 0 5px 5px
	}
	main .car-item .time {
		bottom: 20%;
		font-size: 15px
	}
	main .car-item .price {
		font-size: 16px;
		height: 45px;
		line-height: 45px
	}
	main .car-item .bid {
		font-size: 18px;
		height: 45px;
		line-height: 27px
	}
	main .browse-wr {
		top: -35px
	}
	main .more-btn {
		height: 40px;
		font-size: 18px;
		line-height: 38px
	}
	main .supp:before {
		height: 770px;
		top: 2px
	}
	main .supp-text {
		height: 300px;
		width: 300px;
		font-size: 14px
	}
	main .supp-subtitle {
		font-size: 18px
	}
	main .supp-title {
		font-size: 24px
	}
	main .reviews {
		margin-bottom: 20px;
		text-align: center
	}
	main .reviews .author {
		background: #1795a0;
		color: #FFF;
		display: block;
		width: 100%;
		height: 30px;
		line-height: 30px
	}
	main .reviews .date {
		text-align: center;
		padding: 0;
		display: block;
		width: 100%;
		height: 30px;
		line-height: 30px
	}
	main .cl-banner {
		margin-top: 20px
	}
	footer .footer-nav {
		padding-top: 0
	}
	footer .footer-nav ul {
		font-size: 0
	}
	footer .footer-nav li {
		width: 50%;
		display: inline-block;
		text-align: center;
		margin-bottom: 15px
	}
	footer .footer-nav a {
		font-size: 20px
	}
	footer .footer-title {
		font-size: 22px
	}
	footer .about-text {
		font-size: 14px;
		padding: 15px 0 25px;
		text-align: center
	}
	footer .repokar-wr {
		padding: 20px 0 30px;
		text-align: center
	}
	footer .subscribe-wr {
		font-size: 0
	}
	footer .subscribe-wr input {
		font-size: 16px
	}
	footer .subscribe-wr .subscribe {
		font-size: 24px
	}
	footer .subscribe-wr .form-group {
		width: 50%;
		display: inline-block;
		vertical-align: top
	}
	footer .scroll {
		margin-top: 0;
		margin-bottom: 20px
	}
	footer .scroll:hover {
		transform: translatey(-15px)
	}
	footer .contacts-wr {
		padding: 15px 0
	}
	footer .social {
		padding-top: 15px
	}
	footer .social li {
		width: 16%;
		margin-right: 0.6%
	}
	.auction-main .pagination-wr .pagination a {
		font-size: 20px
	}
	.auction-main .cl-banner {
		margin-top: 20px
	}
	.contact-header .select-wr {
		width: 65%
	}
	.contact-header .select-wr .select {
		padding-left: 65px
	}
	.contact-main .message-wr {
		height: auto;
		margin-top: 30px
	}
	.contact-main .message-wr:before {
		height: 100%
	}
	.contact-main .message input {
		height: 43px
	}
	.contact-main .message textarea {
		height: 265px
	}
	.contact-main .message .form-group {
		margin-bottom: 30px
	}
	.contact-main .send-wr {
		margin-top: 0;
		text-align: center
	}
	.contact-main .send-wr .send {
		width: 50%
	}
	.contact-main .chat-wr {
		height: 100%;
		padding: 15px 0;
		background: #DDE4EF
	}
	.contact-main .chat-wr:before {
		content: none
	}
	.contact-main .chat-wr .chat-btn {
		width: 123px;
		display: inline-block;
		margin: 0
	}
	.contact-main .chat-wr .chat {
		text-align: center;
		margin: 15px 0
	}
	.contact-main .chat-wr .space {
		display: none
	}
}

@media (max-width: 585px) {
	main .browse-wr {
		top: 0
	}
	main .browse-title {
		text-align: center;
		margin: 20px 0
	}
	main .more-wr {
		text-align: center
	}
	main .supp-wr {
		margin-top: 15px
	}
	.auction-main .pagination-wr .pagination a {
		font-size: 18px
	}
	.auction-main .cl-banner {
		margin-top: 45px
	}
	.contact-header .select-wr {
		width: 80%
	}
	.contact-header .select-wr .select {
		line-height: 47px
	}
}

@media (max-width: 480px) {
	header .top-nav li {
		width: 50%;
		padding: 15px 0
	}
	header .header-subtitle {
		font-size: 20px
	}
	header .header-title {
		font-size: 22px
	}
	header .select-wr .form-group {
		width: 100%
	}
	header .select-wr .form-group:nth-child(n) {
		margin-bottom: 30px
	}
	header .select-wr .form-group:before {
		width: 60px;
		height: 60px;
		top: -10px
	}
	header .select-wr .select {
		padding-left: 60px;
		font-size: 16px;
		height: 40px
	}
	header .select-wr .find-wr {
		width: 100%
	}
	header .select-wr .find {
		margin-bottom: 20px;
		line-height: 27px;
		height: 40px;
		font-size: 24px
	}
	header .register-wr {
		font-size: 16px
	}
	main .close-wr a {
		font-size: 14px;
		padding-left: 25px
	}
	main .close-wr a:before {
		width: 23px;
		height: 23px
	}
	main .browse-wr:before {
		height: 91%
	}
	main .browse-title {
		font-size: 22px
	}
	main .browse ul {
		text-align: left
	}
	main .browse li {
		width: 50%;
		text-align: center
	}
	main .browse .browse-subtitle {
		font-size: 18px;
		text-align: center;
		margin: 30px 0
	}
	main .supp-title {
		font-size: 22px
	}
	main .supp:before {
		top: 4px
	}
	footer .contacts-wr li {
		font-size: 13px
	}
	footer .subscribe-wr .subscribe {
		font-size: 20px
	}
	footer .subscribe-wr input {
		font-size: 14px
	}
	footer .copy {
		padding: 15px
	}
	footer .social li {
		width: 33%;
		margin-right: 0.3%
	}
	.auction-main .pagination-wr .pagination {
		margin: 0 0 20px
	}
	.auction-main .pagination-wr .pagination a {
		padding: 5px 6px
	}
	.auction-main .cl-banner {
		margin-top: 0
	}
	.contact-header .select-wr {
		width: 100%
	}
	.contact-header .select-wr .select {
		line-height: 43px;
		padding-left: 55px;
		font-size: 12px
	}
	.contact-main .message-wr {
		margin-top: 20px
	}
	.contact-main .send-wr .send {
		width: 100%
	}
	.contact-main .chat-wr {
		font-size: 22px;
		margin: 20px 0
	}
	.contact-main .tweets {
		margin-bottom: 30px
	}
	.contact-main .tweets:last-child {
		margin: 0
	}
	.contact-main .tweets img {
		margin: 0 auto
	}
}

@media (max-width: 370px) {
	.auction-main .pagination-wr .pagination a {
		font-size: 14px
	}
}


/*# sourceMappingURL=main.css.map */
